@font-face {
    font-family: "blackwell";
    src: url('../fonts/blackwell/blackwell-newbook-webfont.eot');
    src: url('../fonts/blackwell/blackwell-newbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackwell/blackwell-newbook-webfont.woff2') format('woff2'),
         url('../fonts/blackwell/blackwell-newbook-webfont.woff') format('woff'),
         url('../fonts/blackwell/blackwell-newbook-webfont.ttf') format('truetype'),
         url('../fonts/blackwell/blackwell-newbook-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "blackwellBold";
    src: url('../fonts/blackwell/blackwell-newbold-webfont.eot');
    src: url('../fonts/blackwell/blackwell-newbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackwell/blackwell-newbold-webfont.woff2') format('woff2'),
         url('../fonts/blackwell/blackwell-newbold-webfont.woff') format('woff'),
         url('../fonts/blackwell/blackwell-newbold-webfont.ttf') format('truetype'),
         url('../fonts/blackwell/blackwell-newbold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
