/*----------- Lists ---------------*/
ol, ul {
    margin: 1em 0;
    @include rem(margin-left, 2.0rem);
}

dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}